.tarjeta {
    background-color:grey;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 350px;
    min-height:500px;
    text-align:center;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}
.foto-pokemon {
    width:100px;
    height:100px;
    background-color: white;
    border-radius:50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    margin: 0 auto 1rem;
}